<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       					   http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="material" class="hanxiao.spring.a_iocdi.Material">
		<property name="id" value="1"></property>
		<property name="code" value="fe"></property>
		<property name="name" value="铁"></property>
		<property name="category" ref="category"></property>
	</bean>

	<bean name="category" class="hanxiao.spring.a_iocdi.Category">
		<property name="id" value="1"></property>
		<property name="code" value="metal"></property>
		<property name="name" value="金属"></property>
	</bean>


	<!-- 工厂 -->
	<bean name="materialFromFactory" factory-bean="materialFactory"
		factory-method="newMaterial"></bean>
	<bean name="materialFactory"
		class="hanxiao.spring.a_iocdi.MaterialFactory"></bean>
	<!-- 静态工厂 -->
	<bean name="categoryFromFactory"
		class="hanxiao.spring.a_iocdi.CategoryFactory"
		factory-method="getWoodCategory"></bean>

	<!-- 多例 -->
	<bean name="autoMaterial" class="hanxiao.spring.a_iocdi.Material" scope="prototype">
		<property name="id" value="1"></property>
		<property name="code" value="auto"></property>
		<property name="name" value="自动创建物料(多例)"></property>
		<property name="category" ref="category"></property>
	</bean>
	
	<!-- 生命周期 -->
	<bean name="purchaseDao" class="hanxiao.spring.a_iocdi.PurchaseDao" init-method="createConnect" destroy-method="closeConnect"></bean>

	<!-- 后处理bean -->
	<bean class="hanxiao.spring.a_iocdi.MyBeanPostProcessor"></bean>
	
	<!-- 构造方法注入 -->
	<!-- 	name ：参数的名称
			value：设置普通数据
			ref：引用数据，一般是另一个bean id值
			
			index ：参数的索引号，从0开始 。如果只有索引，匹配到了多个构造方法时，默认使用第一个。
			type ：确定参数类型 -->
	<bean name="material_construct" class="hanxiao.spring.a_iocdi.Material">
		<constructor-arg name="code" value="material_construct"></constructor-arg>
		<constructor-arg name="name" value="material_construct"></constructor-arg>
		<constructor-arg name="category" ref="category"></constructor-arg>
	</bean>
	
	<!-- 集合注入 -->
	<!-- 给<property>添加子标签
			数组：<array>
			List：<list>
			Set：<set>
			Map：<map> ，map存放k/v 键值对，使用<entry>描述
			Properties：<props>  <prop key=""></prop> -->
	<bean name="material_collection" class="hanxiao.spring.a_iocdi.Material">
		<property name="plants">
			<list>
				<value>plant1</value>
				<value>plant2</value>
				<value>plant3</value>
			</list>
		</property>
	</bean>
	
</beans> 