<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans	
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="userService" class="hanxiao.spring.UserServiceImp" 
	init-method="init" destroy-method="destory">
		<property name="userDao" ref="userDao"></property>
	</bean>

	<bean id="userDao" class="hanxiao.spring.UserDaoImp"></bean>
	<bean class="hanxiao.spring.MyBeanPostProcessor"></bean>
	
	<bean id="userModelFromFactory" class="hanxiao.spring.UserFactory" factory-method="createUserModel">
		<constructor-arg name="id" value="0"></constructor-arg>
		<constructor-arg name="name" value="零"></constructor-arg>
	</bean>
	<bean id="userFactory" class="hanxiao.spring.UserFactory"></bean>
	<bean id="userServiceFromFactory" factory-bean="userFactory" factory-method="createUserService"></bean>
</beans>