<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demo工作台</title>

    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
    <!--顶部导航-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-head">
                <a href="#">Project Name</a>
            </div>
            <div class="navbar-collapse">
                <ul class="navbar-right"
            </div>
        </div>
    </nav>
</body>
</html>