<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>主页</title>
</head>

<body>
    <div id="app">
		<div>
			<div>这是主页</div>
			<a href="/vip">vip</a>
			<button @click="logout">退出</button>
			<button @click="listSessions">显示Sessions</button>
			<dic>{{sessions}}</div>
		</div>
    </div>
    <script src="/libs/vue.js"></script>
	<script src="/libs/showdown.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
		var app = new Vue({
			el:"#app",
			data:{
				sessions:""
			},
			methods: {
				logout: function () {
					axios.get('/logout')
					 .then(function (response) {
						console.log(response);
						location.href="/login"
					 })
					.catch(function (error) {
						console.log(error);
					});
				},
				listSessions:function(){
					axios.get('/listSessions')
					 .then(function (response) {
						app.$data.sessions = response.data;
					 })
					.catch(function (error) {
						console.log(error);
					});
				}
			}
		})
	</script>
</body>

</html>